@model LoginViewModel

@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>Iniciar Sesión</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Contraseña" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="text-danger">
                @ViewBag.Error
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }